# Configuração da API
PORT=3000
NODE_ENV=development

# PostgreSQL
POSTGRES_DB=technova
POSTGRES_USER=technova
POSTGRES_PASSWORD=ALTERE_ESTA_SENHA

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Conexão da API
DB_HOST=postgres
DB_PORT=5432
DB_NAME=technova
DB_USER=technova
DB_PASSWORD=ALTERE_ESTA_SENHA
